html, body {
	height: 100%;
}

*:focus {
	outline: none;
	webkit-outline: none;
}

.longbtn {
	width: 33.3%;
	min-width: 33.3%;
	max-width: 33.3%;
}

.longbtn2 {
	width: 66.7%;
	min-width: 66.7%;
	max-width: 66.7%;
}

.locked {
	background-color: red;
	border-color: red;
}

.bought {
	background-color: green;
	border-color: green;
}

@font-face {
	font-family: Typewriter;
	src: url('MonospaceTypewriter.ttf');
}

* {
	font-family: 'Typewriter';
}

#gold {
	font-color: yellow;
}

#enemyhp {
	font-color: red;
}

.column {
	width: 200px;
	float: left;
	height: 90%;
}

[tooltip] {
    position: relative;
    z-index: 2;
}

[tooltip]:before,
[tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

[tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 5%, 0.9);
    color: #fff;
    content: attr(tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    transition-duration: .5s;
}

[tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 5%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transition-duration: .5s;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}